div#Navigation {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    height: 100%;
    align-items: center;
}

a {
    text-decoration: none;
}

img {
    width: 300px;
    margin-right: 2%;
}

h1{
    font-size: 100px;
    height: 100%;
    text-align: center;
}

.menu-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3%;
    margin-left: auto;
}